<section class="content mt-2">
      <div class="row">
          <div class="col-sm-12">
              <h2 class="text-center">Productos a registrar</h2>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Amortiguadores</h3>
              </div>
              <a href="/registrar-amortiguadores" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center" style="font-size: 2rem;">Bases de amortiguadores</h3>
              </div>
              <a href="/registrar-base-amortiguadores" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Baterias</h3>
              </div>
              <a href="/registrar-baterias" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Bombas</h3>
              </div>
              <a href="/registrar-bombas" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Bujías</h3>
              </div>
              <a href="/registrar-bujias" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Guardapolvos</h3>
              </div>
              <a href="/registrar-guardapolvos" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="text-center">Valvulas</h3>
              </div>
              <a href="/registrar-valvulas" class="small-box-footer">Registrar<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
</section>